<% if object.has_tag?(:response) %>
  <div class="examples">
    <p class="tag_title">Response:</p>
    <% object.tags(:response).each do |tag| %>
      <p>
	      <b>
	        <%= tag.name %>
	      </b>
	        (<%= tag.type %>) — <%= tag.text %>
      </p>
    <% end %>
  </div>
<% end %>
