<% if object.has_tag?(:response) %>
  <div class="examples">
    <p class="tag_title">Response:</p>
    <% object.tags(:response).each do |tag| %>
      <b>
        <%= tag.name %>
      </b>
      <%= puts "Name: #{tag.name}"%>
      <p>
          <%= puts "text: #{tag.text}"%>
          <%= tag.text %>
      </p>
    <% end %>
  </div>
<% end %>
